<html>
    <h2>Show</h2>

    ID:<span th:text="${c.id}"></span><br>
    Name:<span th:text="${c.name}"></span><br>
    Age:<span th:text="${c.age}"></span><br>
    Game list:<br>
    <ul th:each="g:${c.games}">
        <li>ID:<span th:text="${g.id}"></span></li>
        <li>Name:<span th:text="${g.name}"></span></li>
        <li>Price:<span th:text="${g.price}"></span></li>
    </ul><br>

    <form action="/children/destroy" method="POST">
        <button>Delete</button>
        <input type="hidden" name="id" th:value="${c.id}">
    </form>
    
    <br><a href="/children"><button>Back To Home</button></a>
</html>