<html>
    <body>
        <h2>Index</h2>

        <form th:each="o:${owners}">
            Name: <span th:text="${o.name}"></span>
            <button formaction="/owners/show" method="GET">Show</button>
            <button formaction="/owners/edit" method="GET">Edit</button>
            <input type="hidden" name="id" th:value="${o.id}">
        </form>
        <br>
        <form action="/owners/create" method="GET">
            <button>Create new owner</button>
        </form>

        <br><a href="../"><button>Back to Welcome</button></a>
    </body>
</html>