<html>
    <body>
        <h2>Show</h2>

        ID: <span th:text="${o.id}"></span><br>
        Name: <span th:text="${o.name}"></span><br>
        Lastname: <span th:text="${o.lastname}"></span><br>
        Age: <span th:text="${o.age}"></span><br>
        City: <span th:text="${o.city}"></span><br>
        <br>
        <form action="/owners/destroy" method="POST">
            <button>Delete</button>
            <input type="hidden" name="id" th:value="${o.id}">
        </form>

        <br><a href="/owners"><button>Back to home</button></a>
    </body>
</html>